.titlebar {
  background-color: #3d2890;
  height: 30px;
  border-bottom: 2px solid #2f1f71a4;
  -webkit-app-region: drag;
  /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none;
  /* Prevent user from selecting things */
  user-select: none;
  text-align: center;
  padding-top: 2px;
  color: whitesmoke;
}

.titlebar span {
  padding-top: 2px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

#header {
  height: 60px;
  width: 100%;
  background-color: gray;
  color: white;
  padding: 0 20px;
}

#header div {
  height: 100%;
  display: table;
}

#header h1 {
  margin-top: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
}

#map {
  height: 100%;
  width: 100%;
}

.layers-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: auto;
  z-index: 1000;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
}

.layers-list .layer {
  margin: 4px 0;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  border-right: 1px solid lightgray;
  border-radius: 7px;
  border-left: 1px solid #f2f2f2;
  background: white;
  padding: 10px 5px;
}

/*  */
/*  */
/*  */

.export_projection {
  /* display: inline-block; */
  margin: 8px;
}

.export_buttons {
  text-align: center;
}

.export_buttons button {
  margin: 0 4px;
}

.layer_info {
  font-size: 14px;
}

.layer_info div {
  margin: 14px 0;
  height: 14px;
}

.layer_info .label {
  float: left;
}

.layer_info .label_value {
  float: right;
  background: #2323239c;
  padding: 2px 10px;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 1px 0.6px 1px black;
}

.crs_presets {
  display: inline;
  font-size: 13px;
}


/*  */
/*  */
/*  */

.layer_actions.macro {
  float: right !important;
}

/*  */
/*  */
/* Dropdown Button */
.dropbtn {
  background-color: whitesmoke;
  color: black;
  padding: 2px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  bottom: 49px;
}

.dropdown-content .crs_list {
  height: 250px;
  overflow: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}